In [16]:
# SQL Challenge
# GT Bootcamp
# Dependencies
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine
from config import password, username
#engine = create_engine('postgresql://localhost:5432/<your_db_name>')
#engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')
engine = create_engine(f'postgresql://{username}:{password}@localhost/SQLChallenge_db')
connection = engine.connect()

# MatPlotLib/NumPy/SciPy
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

In [17]:
employees_data = pd.read_sql("SELECT * FROM Employees", connection)
salary_data = pd.read_sql("SELECT * FROM Salaries", connection)
title_data = pd.read_sql("SELECT * From Titles", connection)

In [18]:
salary_data

Empty DataFrame
Columns: [emp_no, salary]
Index: []